/* AppComponent's private CSS styles */

.navbar {
  display: flex;
  align-items: center;
}

nav {
  padding-left: 20px;
}

nav a {
  padding: 0rem 1rem;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  color: #9b979763;
}

.is-active {
  color: #3d3d3d !important;
  text-decoration: underline !important;
}
